#icon-search {
	color: #ffdd57;
}

#section-filter {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 7px;
	margin-left: 7px;
}

#block-filters {
	margin-top: 20px;
	margin-bottom: 45px;
}

#list-restaurants {
	margin-top: 10px;
	margin-bottom: 40px;
}

.space {
	margin-top: 30px;
	margin-bottom: 20px;
}
